# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Build artifacts
build/
romfs/
dist/

# Generated assets
meta/icon.png
meta/banner.png
meta/icon.bin
meta/banner.bin

# lpp-3ds build artifacts
vendor/lpp-3ds/build/
vendor/lpp-3ds/*.3dsx
vendor/lpp-3ds/*.elf
vendor/lpp-3ds/*.smdh

